Makefile
Build
Build.bat
MYMETA.*
.build/
_build/
cover_db/
blib/
.lwpcookies
.last_cover_stats
nytprof.out
pod2htm*.tmp
pm_to_blib
API-CPanel-*
MANIFEST.SKIP
*.tar.gz
*.orig
*.bak
*.rej
*.patch
*.old
*.swp
